.SelectDate {

}

.SelectDate header {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.SelectDate header button,
.SelectDate header select {
    margin: 0 4px;
}

.SelectDate table {
    padding: 3px;
    border: 2px solid #6b6a6a;
    border-radius: 6px;
    box-shadow: 6px 6px 7px gray;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    width: 300px;
}

.SelectDate th {
    vertical-align: middle;
    text-align: center;
    height: 36px;
}

.SelectDate .day {
    border-radius: 7px;
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border:  2px solid #6b6a6a;
    box-shadow: 6px 6px 7px gray;
    margin: 5px;

}

.SelectDate .day:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.SelectDate .day.selected {
    border: 2px solid dodgerblue;
}

.SelectDate .day.today {
    background-color: dodgerblue;
    color: white;
}

.SelectDate .day.today:hover {
    background-color: #0081ff;
}

.SelectDate .day.today.selected {
    border: 2px solid lightgray;
}

.SelectDate .day.expired {
    background-color: #9b9b9b;
}

.Navigation header {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.Navigation header button,
.Navigation header select {
    margin: 0 4px;
    border: 2px solid #6b6a6a;
    border-radius: 4px;
    box-shadow: 4px 4px 5px gray;
}
.Button {
    border: 2px solid #6b6a6a;
    border-radius: 4px;
    box-shadow: 4px 4px 5px gray;
    background-color: #9b9b9b;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: black;
}